# [Python 관련]
__pycache__/
*.py[cod]
*$py.class
venv/
.env

tmp

.ipynb_checkpoints/
libs/.ipynb_checkpoints/
catboost/
catboost_info/
results/
.vscode/
.idea/

optim_logs/
reproduce_logs/
*.pkl
*.csv

.DS_Store